<%- include("partials/header") -%>

<h1>Home</h1>

<p> <%= homeStartingContentEJS  %>  </p>

<% truncPosts.forEach(function(post) { %>

<h1 class="blogTeaser"> <%= post.title %>  </h1>

<p class="trunc">  <%= post.trunc %>  </p>
<a class="read-more" href="/posts/<%= post.title %>">Read more</a>

<% }); %>

<%- include("partials/footer") -%>
